@use '../assets/colors';

.identity-layout {
    padding-top: 1px;
    background-color: colors.$section-border-color;
    .section-border {
        background-color: colors.$valholl;
        padding: 0.5rem;
        border-radius: 5px;
        line-height: 1.1rem;
        text-align: center;

        .clickable {
            margin-left: 0.2rem;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .identity-layout {
        .section-border {
            text-align: unset;
        }
    }
}