@use '../../../public/assets/colors';

.identity-layout {
    padding: 0.5rem;
        .section-header {
            display: grid;
            text-align: center;
            margin-bottom: 1rem;
            place-items: center;
            h2 {
                display: flex;
                align-items: center;
            }
        }

        .section-body {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            >div {
                line-height: 1.5rem;
                &:nth-child(odd) {
                    transform: rotate(0.5deg);
                }
                &:nth-child(even) {
                    transform: rotate(-0.5deg);
                }
            }

            .identity-section {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                .id-section-header {
                    text-align: left;
                    color: colors.$section-border-color;
                    border-bottom: 2px dotted colors.$section-border-color;
                    font-family: 'Tagesschrift';
                }
            }
        }

        .clickable {
            margin-left: 0.2rem;
        }
}
