.clickable {
    margin: 0 0.1rem;
}

div {
    line-height: 1.1rem;
    text-align: center;
}

@media only screen and (min-width: 1024px) {
    div {
        text-align: unset;
        padding-left: 0.5rem;
    }
}