@use '../assets/colors';

.identity-layout {
    padding-top: 1px;
    background-color: colors.$section-border-color;
    .section-border {
        background-color: colors.$valholl;
        padding: 0.5rem;
        border-radius: 5px;
        line-height: 1.1rem;
        text-align: center;

        .section-header {
            margin-bottom: 1rem;
        }

        .section-body {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            >div {
                line-height: 1.3rem;
            }

            .identity-section {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                .id-section-header {
                    text-align: left;
                    color: colors.$section-border-color;
                    border-bottom: 2px dotted colors.$section-border-color;
                }
            }
        }

        .clickable {
            margin-left: 0.2rem;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .identity-layout {
        .section-border {
            text-align: unset;
        }
    }
}