@use '../../../public/assets/colors';

.job-layout {
    padding-top: 1px;
    .section-border {
        background-color: colors.$valholl;
        padding: 0.5rem;
        border-radius: 5px;
        line-height: 1.1rem;
        text-align: center;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;

        .section-header {
            place-self: center;
            text-align: center;
            margin-bottom: 1rem;
            >h2 {
                width: fit-content;
                line-height: 1.5rem;
            }
        }

        .section-body {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            height: 100%;

            text-align: left;

            >div {
                &:nth-child(odd) {
                    transform: rotate(0.5deg);
                }
                &:nth-child(even) {
                    transform: rotate(-0.5deg);
                }
            }
            .descrip-section {
                font-size: 0.8rem;
            }
            .special-section {
                border: 2px dotted colors.$section-border-color;
                padding: 0.5rem 0.2rem;
            }
        }
    }
}