<div class="equipment-layout">
    <div class="section-header">
        <h2 (click)="rerollAll()" class="clickable">EQUIPMENT</h2>
    </div>
    <div class="equip-body">
        <div (click)="rerollPouch()" [innerHTML]="pouchObj.descrip">
        </div>
        <div class="equip-section">
            <div class="section-title">
                weapons
            </div>
            <span class="section-body">
                @for (weapon of startingWeaponObjArray; track $index) {
                    <div>
                        <span class="weapon-icons">
                            @for (range of weapon.range; track $index) {
                                <img src="assets/icons/{{range.trim()}}.png" alt="">
                            }
                        </span>
                        <span [innerHTML]="weapon.name"></span>
                        <span [innerHTML]="weapon.damage"></span>
                        <span [innerHTML]="weapon.descrip"></span>
                    </div>
                }

                <div class="weapon-layout">
                    <span class="weapon-icons">
                        @for (range of weaponObj.weapon.range; track $index) {
                            <img src="assets/icons/{{range.trim()}}.png" alt="">
                        }
                    </span>
                    <span (click)="rerollWeapon()" class="clickable" [innerHTML]="weaponObj.weapon.name"></span>
                    <span>(<strong>{{weaponObj.weapon.damage}} damage</strong>)</span>
                    <span [innerHTML]="weaponObj.weapon.descrip"></span>
                </div>
            </span>
        </div>
        <div class="equip-section">
            <div class="section-title">
                armor
            </div>
            <span class="section-body">
                <div class="armor-layout">
                    @if (armorObj.descrip) {
                        <strong (click)="rerollArmor()" class="clickable">{{armorObj.name}}</strong>
                    } @else {
                        <strong class="underline">{{armorObj.name}}</strong>
                    }
                    @if (armorObj.defense) {
                        <span class="defense-section">(<strong>{{ armorObj.defense }}</strong>)</span>
                    }
                    <span [innerHTML]="armorObj.descrip"></span>
                </div>
            </span>
        </div>
        <div class="equip-section">
            <div class="section-title">
                items
            </div>
            <span class="section-body">
                @for (itemObj of itemsObjArray; track $index) {
                    <div>
                        <span (click)="itemsObjArray[$index] = rerollItem(itemsArray[$index], itemObj)" class="clickable">{{ itemObj.item.name }}.</span>
                        <span [innerHTML]="itemObj.item.descrip"></span>
                    </div>
                }
                @for (startItem of startingItemArray; track $index) {
                    <span [innerHTML]="startItem.item"></span>
                }
            </span>
        </div>
        @if (runeObjArray.length !== 0) {
            <div class="rune-section">
                <div class="rune-title">
                    <span (click)="rerollAllRunes()" class="title clickable">RUNES</span>
                    <em class="rune-rules">
                        After a long rest, roll <strong>d4+Guile</strong> = Rune use that day. Spend to cast or activate inscribed Runes.
                        Inscribe Rune on short rest. Must use food & water, cannot regain HP. <strong>Rune is destroyed and cannot be undone</strong>.
                        To use a Rune, <strong>Test Wits DR12</strong>. <span class="underline">Success</span> = You cast the Rune’s effect, consuming one daily use. <span class="underline">Failure</span> = The spell fails. Lose 1HP, consume one daily use.
                        A <strong>Fumble</strong> invokes <strong class="underline">Favour or Wrath of the God</strong>s.
                    </em>
                </div>
                <div class="rune-body">
                    @for (runeObj of runeObjArray; track $index) {
                        <div class="rune-layout">
                            @if (runeObj.source === 'pouch') {
                                <em class="source-section underline">granted by the norns</em>
                            } @else if (runeObj.source === 'stone') {
                                <em class="source-section underline">picked up off the ground</em>
                            } @else if (runeObj.source === 'armour') {
                                <em class="source-section underline">inked upon your skin</em>
                            } @else {
                                <em class="source-section underline">
                                    @if (jobTitle === 'Realmbreaker') {
                                        can only be cast as spells
                                    } @else if (jobTitle === 'Svartalfheim’s Master Smith') {
                                        can only be inscribed into armour & weapons
                                    }
                                </em>
                            }
                            <span (click)="rerollRune($index)" class="rune-layout-title clickable">
                                <strong class="symbol">{{ runeObj.rune.symbol }}</strong>
                                <strong class="name">{{ runeObj.rune.name }}</strong>
                                <em class="descrip">{{ runeObj.rune.descrip }}</em>
                            </span>
                            <div class="rune-table">
                                @for (table of runeObj.rune.table; track $index) {
                                    <div class="rune-table-layout">
                                        <img src="assets/icons/{{table.type}}.png" alt="">
                                        <span [innerHTML]="table.descrip"></span>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>