@use '../assets/colors';

.abilities-layout {
    // background-color: colors.$section-border-color;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    grid-gap: 0.5rem;
    .section-header {
        place-self: center;
    }
    .section-body {
        .abilities-layout {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .ability-layout {
                display: grid;
                row-gap: 0.2rem;
                column-gap: 1rem;
                padding-left: 0.5rem;
                grid-template-columns: auto 1fr;
                grid-auto-rows: min-content;
                grid-template-areas:
                    "name       value"
                    "descrip    value";

                .clickable {
                    grid-area: name;
                    width: max-content;
                }
                .descrip {
                    grid-area: descrip;
                    font-size: 0.7rem;
                }
                .value {
                    grid-area: value;
                    font-size: 2.2rem;
                    place-self: center end;
                }
                &:nth-child(even) {
                    transform: rotate(0.5deg);
                }

                &:nth-child(odd) {
                    transform: rotate(-0.5deg);
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .abilities-layout {
        .section-body {
            .abilities-layout {
                flex-direction: unset;
                flex-flow: wrap;
                justify-content: space-evenly;
            }
        }
    }
}