@use './assets/colors';

.zerk-layout {
    display: grid;
    height: 100vh;
    place-items: start center;

    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

    .zerk-header {
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            font-size: 2rem;
            margin: 0;
            letter-spacing: 0.5rem;
        }
        .runes {
            text-align: center;
            font-size: 0.9rem;
        }
        .subtitle {
            text-align: center;
            font-size: 0.9rem;
            color: colors.$section-border-color;
        }
    }
    .zerk-body-layout {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "body";   
        
        .zerk-body {
            grid-area: body;
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: min-content;
            grid-template-areas: 
                "abilities"
                "identity"
                "job";
            .abilities {
                grid-area: abilities;
            }
            .identity {
                grid-area: identity;
            }
            .job {
                grid-area: job;
            }
            >div {
                border-top: 2px solid colors.$section-border-color;
                &:first-of-type {
                    border-width: 2px;
                }
            }
            .zerk-section {
                border-top: 2px solid colors.$section-border-color;
                border-bottom: 2px solid colors.$section-border-color;
                padding: 0.5rem;
            }
        }
    }
    .zerk-footer {
        padding-top: 0.5rem;
        border-top: 2px solid colors.$section-border-color;
        text-align: center;
        font-size: 0.75rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        .clickable {
            font-size: 1rem;
        }
    }
}

//MEDIUM PHONE
@media only screen and (min-width: 375px) {
    .zerk-layout {
        .zerk-header {
            h1 {
                font-size: 2.5rem;
            }
            .runes {
                font-size: 1rem;
            }
        }
    }
}

//LARGE PHONE
@media only screen and (min-width: 425px) {
    .zerk-layout {
        .zerk-header {
            h1 {
                font-size: 3rem;
            }
            .runes {
                font-size: 1.2rem;
            }
        }
    }
}

//TABLET
@media only screen and (min-width: 768px) {
    .zerk-layout {
        .zerk-header {
            h1 {
                font-size: 5rem;
                letter-spacing: 1rem;
            }
            .runes {
                font-size: 2rem;
            }
        }
    }
}

//SMALL DESKTOP
@media only screen and (min-width: 1024px) {
        .zerk-layout {
            .zerk-header {
                h1 {
                    font-size: 7rem;
                    letter-spacing: 1rem;
                }
                .runes {
                    font-size: 2.5rem;
                }
            }
            .zerk-body-layout {
                .zerk-body {
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-areas:
                        "abilities      abilities"
                        "identity       job";
                    .identity {
                        border-right: 1px solid colors.$section-border-color;
                    }
                    .job {
                        border-left: 1px solid colors.$section-border-color;
                    }
                }
            }
    }
}

//LARGE DESKTOP
@media only screen and (min-width: 1440px) {
    .zerk-layout {
        .zerk-body-layout {
            grid-template-columns: 1fr 65% 1fr;
            grid-template-areas:
                ".  body    .";
        }        
    }
}