@use '../../public/assets/colors';

.zerk-layout {
    display: grid;
    height: 100vh;
    place-items: start center;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);

    .zerk-header {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: max-content;
        margin-bottom: 0.5rem;
        div.subtitle-section {
            place-self: start center;
            display: flex;
            flex-direction: column;
            .runes, .subtitle {
                text-align: center;
                font-size: 0.9rem;
            }  
        }
        .valholl-title-section {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            img {
                &.valholl-text-icon {
                    place-self: center;
                    height: 12rem;
                    width: 18rem;
                    grid-area: 1/1;
                }
                &.raven-icon {
                    height: 6rem;
                    width: 6rem;
                }
            }
            div.reroll-section {
                grid-area: 1/1;
                z-index: 2;
                place-self: end center;

                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                place-items: center;
                div {
                    font-size: 0.8rem;
                    grid-area: 1/1;
                    z-index: 2;
                    height: min-content;
                    &:hover + img {
                        filter: brightness(0) saturate(100%) invert(82%) sepia(75%) saturate(1175%) hue-rotate(343deg) brightness(96%) contrast(93%);
                        transform: rotate(360deg);
                    }
                    &:active + img {
                        filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(7500%) hue-rotate(279deg) brightness(91%) contrast(109%);
                    }
                }
                img {
                    grid-area: 1/1;
                    transition: transform 1s ease-in-out;
                    transform: rotate(0deg);
                }
            }
        }
    }
    .zerk-reroll-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        place-items: center;
        div {
            grid-area: 1 / 1;
            z-index: 2;
            &:hover + img {
                filter: brightness(0) saturate(100%) invert(82%) sepia(75%) saturate(1175%) hue-rotate(343deg) brightness(96%) contrast(93%);
                transform: rotate(360deg);
            }
            &:active + img {
                filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(7500%) hue-rotate(279deg) brightness(91%) contrast(109%);
            }
        }
        img {
            grid-area: 1 / 1;
            height: 6rem;
            width: 6rem;
            transition: transform 1s ease-in-out;
            transform: rotate(0deg);
        }
    }
    .zerk-body-layout {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "body";   
        
        .zerk-body {
            grid-area: body;
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: min-content;
            grid-template-areas: 
                "intro"
                "abilities"
                "identity"
                "job"
                "equip";
            .intro {
                grid-area: intro;
            }
            .abilities {
                grid-area: abilities;
            }
            .identity {
                grid-area: identity;
            }
            .job {
                grid-area: job;
            }
            .equipment {
                grid-area: equip;
            }
            >div {
                border-top: 2px solid colors.$section-border-color;
                &:first-of-type {
                    border-width: 2px;
                }
            }
            .zerk-section {
                border-top: 2px solid colors.$section-border-color;
                border-bottom: 2px solid colors.$section-border-color;
                padding: 0.5rem;
            }
        }
    }
    .zerk-footer {
        padding-top: 0.5rem;
        border-top: 2px solid colors.$section-border-color;
        text-align: center;
        font-size: 0.75rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        .button-section {
            display: flex;
            gap: 1rem;
        }
        .clickable {
            font-size: 1rem;
        }
    }
}

//MEDIUM PHONE
@media only screen and (min-width: 375px) {
    .zerk-layout {
        .zerk-header {
            div.subtitle-section {
                .runes, .subtitle {
                    font-size: 1rem;
                }
            }
            .valholl-title-section {
                img {
                    &.valholl-text-icon {
                        height: 13rem;
                        width: 21rem;
                    }
                }
            }
        }
    }
}

//LARGE PHONE
@media only screen and (min-width: 425px) {
    .zerk-layout {
        .zerk-header {
            div.subtitle-section {
                .runes, .subtitle {
                    font-size: 1.2rem;
                }
            }
            .valholl-title-section {
                img {
                    &.valholl-text-icon {
                        height: 14rem;
                        width: 25rem;
                    }
                }
            }
        }
    }
}

//TABLET
@media only screen and (min-width: 768px) {
    .zerk-layout {
        .zerk-header {
            div.subtitle-section {
                .runes {
                    font-size: 2rem;
                }
            }
            .valholl-title-section {
                img {
                    &.valholl-text-icon {
                        height: 16rem;
                        width: 41rem;
                    }
                    &.raven-icon {
                        height: 7rem;
                        width: 8rem;
                    }
                }
            }
        }
    }
}

//SMALL DESKTOP
@media only screen and (min-width: 1024px) {
        .zerk-layout {
            .zerk-header {
                div.subtitle-section {
                    .runes {
                        font-size: 2.5rem;
                    }
                }
                .valholl-title-section {
                    img {
                        &.valholl-text-icon {
                            height: 20rem;
                            width: 52rem;
                        }
                        &.raven-icon {
                            height: 9rem;
                            width: 10rem;
                        }
                    }
                }
            }
            .zerk-body-layout {
                .zerk-body {
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-areas:
                        "intro          intro"
                        "abilities      abilities"
                        "identity       job"
                        "equip          equip";
                    .identity {
                        border-right: 1px solid colors.$section-border-color;
                    }
                    .job {
                        border-left: 1px solid colors.$section-border-color;
                    }
                }
            }
    }
}

//LARGE DESKTOP
@media only screen and (min-width: 1440px) {
    .zerk-layout {
        .zerk-body-layout {
            grid-template-columns: 1fr 65% 1fr;
            grid-template-areas:
                ".  body    .";
        }        
    }
}
