
@use '../public/assets/colors';

@font-face {
    font-family: "AncientRunes";
    src: local("AncientRunes"), url(../public/assets/fonts/AncientRunes.ttf) format('truetype');
    font-weight: 100 1000;
}

@font-face {
    font-family: "AsgardianWars";
    src: local("AsgardianWars"), url(../public/assets/fonts/AsgardianWars.ttf) format('truetype');
    font-weight: 100 1000;
}

@font-face {
    font-family: "SQUEEG";
    src: local("SQUEEG"), url(../public/assets/fonts/SQUEEG.ttf) format('truetype');
    font-weight: 100 1000;
}

@font-face {
    font-family: "Tagesschrift";
    src: local("Tagesschrift"), url(../public/assets/fonts/Tagesschrift.ttf) format('truetype');
    font-weight: 100 1000;
}

@font-face {
    font-family: "Zamolxis";
    src: local("Zamolxis"), url(../public/assets/fonts/Zamolxis.ttf) format('truetype');
    font-weight: 100 1000;
}

@font-face {
    font-family: "Alegreya";
    src: local("Alegreya"), url(../public/assets/fonts/Alegreya.ttf) format('truetype');
    font-weight: 100 1000;
}

@font-face {
    font-family: "Poppins-Bold";
    src: local("Poppins-Bold"), url(../public/assets/fonts/Poppins-Bold.ttf) format('truetype');
    font-weight: 100 1000;
}

@font-face {
    font-family: "Poppins-Regular";
    src: local("Poppins-Regular"), url(../public/assets/fonts/Poppins-Regular.ttf) format('truetype');
    font-weight: 100 1000;
}

::selection {
    background-color: colors.$section-border-color;
    color: white;
}

@keyframes shake {
    0% {
        transform: translateX(0rem) rotate(0deg);
    }
    25% {
        transform: translateX(1rem) rotate(1deg);
    }
    50% {
        transform: translateX(-1rem) rotate(-1deg);
    }
    75% {
        transform: translate(-1rem) rotate(-1deg);
    }
    100% {
        transform: translate(1rem) rotate(1deg);
    }
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: colors.$valholl;
    color: white;
    font-family: 'Alegreya';
    font-size: 1.1rem;

    h1 {
        font-family: 'Zamolxis';
    }

    h2 {
        margin: 0;
        padding: 0;
        font-family: 'Tagesschrift';
    }

    .shake {
        &:active {
            animation: shake 0.1s ease-in-out;
        }
    }

    .runes {
        font-family: 'AncientRunes';
    }

    .subtitle {
        font-family: 'Poppins-Regular';
        strong {
            font-family: 'Poppins-Bold';
        }
    }

    .clickable {
        font-family: 'Tagesschrift';
        background-color: black;
        color: colors.$valholl;
        font-weight: bold;
        padding: 0.25rem 0.1rem;
        cursor: pointer;
        user-select: none;
        width: max-content;

        &:hover {
            background-color: colors.$slightly-yellow;
            color: black;
        }

        &:active {
            background-color: black;
            color: colors.$slightly-yellow;
        }
    }

    .underline {
        text-decoration: underline;
    }

    .dark-font {
        color: colors.$section-border-color;
    }

    .table-layout {
        margin-top: 0.5rem;
    }

    .compact-list {
        margin: 0;
        padding: 0rem 0.8rem 0rem 0.8rem;
        list-style-position: inside;
        list-style: none;
        li {
            margin: 0.5rem;
        }
        &.x-style {
            padding-left: 1.5rem;
            list-style-type: disc;
        }
    }
}

.social-link {
    text-decoration: none;
    background-color: black;
    color: colors.$valholl;
    font-weight: bold;
    &:hover {
        background-color: colors.$slightly-yellow;
        color: black;
    }
}

.margin-left {
    margin-left: 1.1rem;
}

@media print {
    @page {
        size: 8.5in 11in;
        margin: 0.1in 0 0 0;
    }
    * {
        overflow: visible !important;
        color: black !important;
        border-color: black !important;
        background-color: white !important;

        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
    .no-print {
        display: none !important;
    }
    img {
        background-color: white !important;
        filter: unset !important;        
    }

    .zerk-layout {
        display: block !important;
        min-height: 100%;
        .zerk-header {
            align-items: center !important;
            div.subtitle-section {
                .runes {
                    font-size: 2rem !important;
                }
            }
            .valholl-title-section {
                img {
                    &.valholl-text-icon {
                        height: 16rem !important;
                        width: 41rem !important;
                    }
                    &.raven-icon {
                        height: 7rem !important;
                        width: 8rem !important;
                    }
                }
            }
        }
        .zerk-body-layout {
            display: flex !important;
            gap: 1rem !important;
            .zerk-body {
                >div {
                    display: block;
                }
            }
        }
    }

    h2.clickable, h2>div {
        background-color: black !important;
        color: white !important;
    }

    .abilities-layout {
        .section-body {
            .abilities-layout {
                .stats-row-layout {
                    display: grid !important;
                    grid-template-columns: repeat(5, auto) !important;
                    grid-template-rows:1fr !important;
                }
                .stats-layout {
                    flex-direction: unset !important;
                    flex-flow: wrap !important;
                    justify-content: space-evenly !important;
                }
                .stats-row-layout, .stats-layout {
                    .clickable {
                        font-size: 1.3rem;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
