@use './app/assets/colors';

@font-face {
    font-family: "AncientRunes";
    src: local("AncientRunes"), url(./app/assets/fonts/AncientRunes.ttf) format('truetype');
    font-weight: 100 1000;
}

@font-face {
    font-family: "AsgardianWars";
    src: local("AsgardianWars"), url(./app/assets/fonts/AsgardianWars.ttf) format('truetype');
    font-weight: 100 1000;
}

@font-face {
    font-family: "SQUEEG";
    src: local("SQUEEG"), url(./app/assets/fonts/SQUEEG.ttf) format('truetype');
    font-weight: 100 1000;
}

@font-face {
    font-family: "Tagesschrift";
    src: local("Tagesschrift"), url(./app/assets/fonts/Tagesschrift.ttf) format('truetype');
    font-weight: 100 1000;
}

@font-face {
    font-family: "Zamolxis";
    src: local("Zamolxis"), url(./app/assets/fonts/Zamolxis.ttf) format('truetype');
    font-weight: 100 1000;
}

::selection {
    background-color: colors.$section-border-color;
    color: white;
}


html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: colors.$valholl;
    color: white;
    font-family: 'Tagesschrift';

    h1 {
        // font-family: 'SQUEEG';
        // font-family: 'AsgardianWars';
        font-family: 'Zamolxis';
    }

    h2 {
        margin: 0;
        padding: 0;
    }

    .runes {
        font-family: 'AncientRunes';
    }

    .clickable {
        background-color: black;
        color: colors.$valholl;
        font-weight: bold;
        padding: 0.25rem 0.1rem;
        cursor: pointer;
        user-select: none;

        &:hover {
            background-color: colors.$slightly-yellow;
            color: black;
        }

        &:active {
            background-color: black;
            color: colors.$slightly-yellow;
        }
    }
}

.social-link {
    text-decoration: none;
    background-color: black;
    color: white;
    font-weight: bold;
    &:hover {
        background-color: colors.$slightly-yellow;
        color: black;
    }
}
